body {
    background-color: #555555;
    color: lightblue;
}
#idx-img{
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
}
#idx-card{
    display: flex;
    align-items: center;
}
#title-link{
    color: white;
}
#show-det-cont{
    text-align: center;
    max-width: 700px;
}
#show-det-img{
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
}
#centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
#center{
    margin: auto;
    text-align: center;
}