{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN SCRIPTS -->
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
        <script src="{% static 'scripts/app.js' %}" defer></script>
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <nav>
            {% if user.is_authenticated %}
            <span><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></span>
                <span> | </span>
            <span><a href="{% url 'logout' %}">Logout</a></span>
                <span> | </span>
            {% else %}
            <span><a href="{% url 'login' %}">Login</a></span>
                <span> | </span>
            <span><a href="{% url 'signup' %}">SignUp</a></span>
            {% endif %}
            <a href="/admin">Admin</a>
            <span> | </span>
            <a href="/">Home</a>
            <span> | </span>
            <a href="/about">About</a>
            <span> | </span>
            <a href="/shows">Shows</a>
            <span> | </span>
            <a href="/reviews">Reviews</a>
            <span> | </span>
                <div>
                    <!-- this seacrches for show title -->
                    <input id="search_bar" type="text" name="title" placeholder="Show Title"/>
                    <input id="search_sub" type="submit" value="Search"/>
                </div>
            </form>
        </nav>
        
        {% block content %}
        {% endblock %}
    </body>
</html>