{% extends 'base.html' %}
{% load static %}

{% block title %}
    BahanMedia | Profile
{% endblock %}

{% block content %}
    <br>
    <div class="container" id="center">
    <h3>Your Recommended Shows</h3>
    <br>
    {% for thumb in thumbs %}
        <a style="color:lightblue;" href="/shows/{{ thumb.id }}">
            <h5 style="color:lightblue;">{{ thumb.title }}</h5>
        </a>
    {% endfor %}
    <hr>
    <h3>Your Reviews</h3>
    <br>
    {% for review in user.review_set.all %}
        <div>
            <a style="color:lightblue;" href="/shows/{{ show.id }}">
                <span class="h5" style="color:lightblue;" >{{ review.show.title }}</span>
            </a>
            <span class="h5"> - </span>
            <span class="h6">{{review.body}}</span>
        </div>
        {% if user.username == review.user.username %}
            <div>
                <a class="btn btn-secondary btn-sm" href="{% url 'reviews_update' review.id %}">Edit</a>
                <a class="btn btn-secondary btn-sm" href="{% url 'reviews_delete' review.id %}">Delete</a>
            </div>
        {% endif %}
        <br>
    {% empty %}
        <div>{{username}} Has No Reviews Yet</div>
        <br>
    {% endfor %}
    <hr>
    </div>
{% endblock %}