{% extends 'base.html' %}
{% load static %}

{% block title %}
    MediaRecs | Edit Review
{% endblock %}

{% block content %}
    <div class="container" id="centered">
        <div>
            <br>
            <div id="centered">
                <h3>Update your review for {{ review.show.title }}</h3>
            </div>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <div id="centered">
                    <input class="btn btn-secondary" type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
{% endblock %}