{% extends 'base.html' %}
{% load static %}

{% block title %}
    MediaRecs | Reviews
{% endblock %}

{% block content %}

<div class="container" id="center">
    <br>
    <h3 align="center">All Review List</h3>
    <hr>
    <div>
        {% for review in reviews %}
                <div class="card-content">
                    <div>
                        <a href="/shows/{{ review.show.pk }}">
                            <h5 style="color:lightblue;">{{ review.show.title }}</h5>
                        </a>
                    </div>
                    <div>
                        <p>{{ review.user.username }} - {{ review.body }}</p>
                    </div>
                    {% if user.username == review.user.username %}
                        <div>
                            <a class="btn btn-secondary btn-sm" href="{% url 'reviews_update' review.id %}">Edit</a>
                            <a class="btn btn-secondary btn-sm" href="{% url 'reviews_delete' review.id %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            <hr/>
        {% endfor %}
    </div>
</div>
{% endblock %}