{% extends 'base.html' %}
{% load static %}

{% block title %}
    MediaRecs | Delete Review
{% endblock %}

{% block content %}
    <br>
    <div class="container" id="center">
        <h1>Delete Review</h1>

        <h5>Are you sure you want to delete your review for <strong>{{ review.show.title }}</strong>?</h5>

        <form action="" method="POST">
            {% csrf_token %}
            <input class="btn btn-secondary" type="submit" value="Yes - Delete!">
            <a class="btn btn-secondary" href="{% url 'reviews_show' review.id %}">Cancel</a>
        </form>
    </div>
{% endblock %}