{% extends 'base.html' %}
{% load static %}

{% block title %}
    BahanMedia | Reviews
{% endblock %}

{% block content %}

<div class="container" id="center">
    <br>
    <h3 align="center">All Review List</h3>
    <hr>
    <div>
        {% for review in reviews %}
                <div class="card-content">
                    <!-- <div>
                        <a id="titles" href="/shows/{{ review.show.pk }}">
                            <h5 id="titles">{{ review.show.title }}</h5>
                        </a>
                    </div> -->
                    <div>
                        <div>
                            <a id="title-link" href="/shows/{{ review.show.pk }}">{{ review.show.title }}</a>
                             | 
                            <a id="title-link" href="{% url 'user_display' review.user.username %}">{{ review.user.username }}</a>
                        </div>    
                        <p>
                            {{ review.body }}
                        </p>
                    </div>
                    {% if user.username == review.user.username %}
                        <div>
                            <a class="btn btn-secondary btn-sm" href="{% url 'reviews_update' review.id %}">Edit</a>
                            <a class="btn btn-secondary btn-sm" href="{% url 'reviews_delete' review.id %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            <hr/>
        {% endfor %}
    </div>
</div>
{% endblock %}