{% extends 'base.html' %}
{% load static %}

{% block title %}
    MediaRecs | Add Show
{% endblock %}

{% block content %}
    <br>
    <div class="container" id="centered">
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <div id="centered">
                    <input class="btn btn-secondary" type="submit" value="Submit!">
                </div>
            </form>
        </div>
    </div>
{% endblock %}