{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    BahanMedia | Add Show
{% endblock %}

{% block content %}
    <br>
    <div class="container" id="center">
        <h1>Add a Show!</h1>
        <br>
        <h6>Images should be landscape orientation, and 500px wide or larger.</h6>
        <h6>I recommend IMDB for show info, and the JustWatch app to find streaming services.</h6>
        <hr>
        <h6>Alternatively,</h6>
        <h6>just send me an email of the title and I can add it.</h6>
        <a style="color:lightblue;" href="mailto:bahanm@gmail.com?subject=NEW SHOW FOR BAHAN FAMILY MEDIA RECS!"><h5>Email Michelle!</h5></a>
        <hr>
        <div id="centered">
            <form method="post">
                {% csrf_token %} 
                {{ form|crispy }} 
                <input class="btn btn-secondary" type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}