{% extends 'base.html' %}
{% load static %}

{% block title %}
    MediaRecs | Shows
{% endblock %}

{% block content %}
    <br>
    <form class="d-flex" id="search_box">
        <input class="form-control me-2" id="search_bar" type="text" name="title" placeholder="Show Title" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <a href="{% url 'show_create' %}">Add a Show!</a>
    <h1>All Shows:</h1>
    {% for show in shows %}
        <a href="{% url 'show_detail' show.pk %}">
            <img src="{{show.img}}" alt="{{show.title}}" style="max-width: 200px">
        </a>
        <a href="{% url 'show_detail' show.pk %}">
            <h3>Title: {{show.title}}</h3>
        </a>
        <h4>Genre: {{show.get_genre_display}}</h4>
    {% endfor %}
{% endblock %}
