{% extends 'base.html' %}
{% load static %}

{% block title %}
    BahanMedia | Users
{% endblock %}

{% block content %}
<div class="container" id="center">
    <br>
    <h1>User List</h1>
    <hr>
        {% for user in users %}
            <div id="user-link">
                <a href="{% url 'user_display' user.username %}">
                    <div class="card-content" >
                        <strong>{{ user.username }}</strong>
                    </div>
                </a>
            </div>
        {% endfor %}
</div>
{% endblock %}